includes:
    - %currentWorkingDirectory%/vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    reportUnmatchedIgnoredErrors: false
    symfony:
        containerXmlPath: %currentWorkingDirectory%/var/cache/test/TestKernelTestDebugContainer.xml
        constantHassers: false
    ignoreErrors:
